<div class="large-12 columns"> 
<div class="large-9 large-centered columns">
  <%= form_for @post do |f| %>
    <h3><%= f.label :title %></h3>
    <%= f.text_field :title %> <br>
    <h3><%= f.label :body %></h3>
    <%= f.text_area :body %> <br>
     <h3><%= f.label :excerpt %></h3>
    <%= f.text_area :excerpt %> <br>

    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
      <%= cb.label(class: "radio") {cb.check_box(class: "radio") + cb.text}%>
    <% end %>

    <%= f.submit(@post.new_record? ? "create post" : "Update Post") %>
  <% end %>
</div>
</div>

