<div class="large-8 column">
  <% @posts.each do |post|%>
    <h4><%= link_to post.title, post_path(post) %> <br>

    <small>
Posted in 
    <%= post.categories.map do |cat| %>
     <% link_to cat.name, category_path(cat)%>
      <% end.to_sentence.html_safe %>
      on
      <%= display_datetime(post.created_at)%>.

      <% if word_count(post) == 0 %>
      Less than a minute read.
       <% else %>
      <i>Approximately <%= pluralize(word_count(post), 'minute')%> read.</i>
      <%end%>
      </small></h4>

    <% if logged_in? %>
      <br><%= link_to 'edit', edit_post_path(post)%> | <%= link_to 'delete', post, method: :delete, data: { confirm: "are you sure?"}%></small>
      <% end%>

    <p><%= markdown(post.excerpt) if post.excerpt %> <em><%= link_to '...read full post', post_path(post), class: "subheader" %></em> </p>
    <!-- could use truncate to trim the body but I went with an excerpt -->
    <hr>
  <% end %>
  <br><br>
<%= will_paginate @posts, :page_links => true %>
  <br><br>
</div>

<!--

  <div class="row">
    <div class="large-12 column">
      <hr>
      <h6>May I also suggest:</h6>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="large-12 column">
      <div class="large-4 column">
        <h5 class="subheader">Web Development</h5>
          <#% @posts.each do |post|%>
            <li><#%= link_to post.title, post_path(post) %></li><br>
          <#% end %>
      </div>
    </div>
  </div>
<hr>
-->

