<div class="large-12 columns"> 
  <div class="large-9 large-centered columns">
    <% @posts.each do |post|%>
    
      <% cache do %>
      <%= image_tag('separator.png') %>
      <% end %>

      <h4><%= link_to post.title, post_path(post) %> <br>

      <% if logged_in? %>
        <small> <%= link_to 'edit', edit_post_path(post)%> | <%= link_to 'delete', post, method: :delete, data: { confirm: "are you sure?"}%></small> <br>
      <% end %> 

      <subheader>
      <% if word_count(post) == 0 %>
        Less than a minute read.
      <% else %>
        <i>Approximately <%= pluralize(word_count(post), 'minute')%> read.</i>
      <% end %>
      </subheader>
      </h4>

      <%= markdown(post.excerpt) if post.excerpt %> <i><%= link_to '...read full post', post_path(post)%></i>
      <hr>
    <% end %>

    <!-- could use truncate to trim the body but I went with an excerpt -->
    <br><br>
    <%= will_paginate @posts, :page_links => true %>
    <br><br>
  </div>
</div>
<!--

  <div class="row">
    <div class="large-12 column">
      <hr>
      <h6>May I also suggest:</h6>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="large-12 column">
      <div class="large-4 column">
        <h5 class="subheader">Web Development</h5>
          <#% @posts.each do |post|%>
            <li><#%= link_to post.title, post_path(post) %></li><br>
          <#% end %>
      </div>
    </div>
  </div>
<hr>
-->

