<div class="large-8 column">
  <% @posts.each do |post|%>
  <% post.categories.each do |cat| %>
    <span class="secondary label"><%= link_to cat.name, category_path(cat) %></span>
  <% end %>

    <h4><%= link_to post.title, post_path(post) %></h4>
    <% if logged_in? %>
      <%= link_to 'edit', edit_post_path(post)%> | <%= link_to 'delete', post, method: :delete, data: { confirm: "are you sure?"}%></small>
      <% end%>
    <p><%= markdown(post.body) %></p> 
    <!-- could use truncate to trim the body -->
    <hr>
  <% end %>
  <br><br>
<%= will_paginate @posts, :page_links => true %>
  <br><br>
</div>

<!--

  <div class="row">
    <div class="large-12 column">
      <hr>
      <h6>May I also suggest:</h6>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="large-12 column">
      <div class="large-4 column">
        <h5 class="subheader">Web Development</h5>
          <#% @posts.each do |post|%>
            <li><#%= link_to post.title, post_path(post) %></li><br>
          <#% end %>
      </div>
    </div>
  </div>
<hr>
-->

