<div class="large-8 column">
  <h4><%= @post.title%></h4>
  <% if logged_in? %>
    <small><%= link_to 'edit', edit_post_path(@post)%> | <%= link_to 'delete', @post, method: :delete, data: { confirm: "are you sure?"}%></small>
  <% end %>

  <p><%= markdown(@post.body)%></p>
    <hr>
    <%= link_to("Previous Post | ", @post.previous_post) if @post.previous_post %>
    <%= link_to(" Next Post ", @post.next_post) if @post.next_post %>
</div>
  <br><br>

<div class="row">
  <div class="large-12 column text-center">
    <hr>
    <h6>May I also suggest: <i><%= link_to 'The wisdom of ignorance', posts_path %>,  <%= link_to 'The nature of mind', posts_path %> and <%= link_to 'The man and his umbrella', posts_path %></i></h6>
    <hr>
  </div>
</div>

  <hr>