<div class="large-12 columns">
  <div class="large-9 large-centered columns">

    <h4><%= @post.title %> <br>
      <subheader>Posted on <%= display_datetime(@post.created_at)%> under:
      <%= @post.categories.map do |cat| %>
        <% link_to cat.name, category_path(cat)%>
      <% end.to_sentence.html_safe %>
      </subheader>
    </h4>

    <% if logged_in? %>
      <small><%= link_to 'edit', edit_post_path(@post)%> | <%= link_to 'delete', @post, method: :delete, data: { confirm: "are you sure?"}%></small>
    <% end %>

    <%= markdown(@post.body)%>
    <hr>
    <%= link_to("Previous Post | ", @post.previous_post) if @post.previous_post %>
    <%= link_to(" Next Post ", @post.next_post) if @post.next_post %>
    <br><br> <br>
  </div>
</div>