<div class="large-12 columns"> 
<div class="large-9 large-centered columns">
<h4>Category: <%= @category.name %></h4>
<hr>

<% @category.posts.each do |post|%>
<%= image_tag('separator.png') %>
  <h4><%= link_to post.title, post_path(post)%></h4>
  <% if logged_in? %>
  <small><%= link_to 'edit', edit_post_path(post)%> | <%= link_to 'delete', post, method: :delete, data: { confirm: "are you sure?"}%></small>
<% end %>
 <%= markdown(post.excerpt) if post.excerpt %> <i><%= link_to '...read full post', post_path(post)%></i>
  <hr>
<% end %>
</div>
</div>

<!-- CURRENTLY NO CATEGORY PAGE PAGINATION

<div class="row">
    <div class="large-12 column">
      <hr>
      <h6>May I also suggest:</h6>
      <hr>
    </div>
</div>

  <div class="row">
    <div class="large-12 column">
      <div class="large-4 column">
        <h5 class="subheader">Web Development</h5>
          <li>kk</li>
      </div>
    </div>

    </div>
  </div>

<hr>
-->
